#app {
    background-color: red;
}

.Nav {
    height:10vmax;
    background-color: white;
    display:flex;
    justify-content: space-evenly;
    
}
.link{
    padding-top: 10px;
    border: 1px solid black;
    font-size: 20pt;
}

.main {
    height:100vmax;
}

.about {
    background-color: crimson;
    border:black 1px solid;
    height:100vmax;
}
.aboutInfo{
    display:flex;
    flex-direction: column;
    height:20vmax;
    border:1px solid black;
    background-color: chartreuse;
    justify-content: center;
    align-content: center;
}

.projects {
    background-color: purple;
    border:black 1px solid;
    height:100vmax
}
.contactMe{
    display:flex;
    background-color: aqua;
    flex-direction: column;
}
