#app {
    height: 100%;

}

.Nav {
    height:7vmax;
    background-color: black;
    display:flex;
    justify-content: space-evenly;
    color: rgb(255, 215, 0);
    padding-bottom: 5%;
}
.navImage{
    height: 12vmax;

}
.link{
    padding-top: 20px;
    font-size: 25pt;
    display: flex;
    text-decoration: underline;
    color: rgb(255, 215, 0);
}
.main{
display: flex;
justify-content: center;
background-color: black;
}

.mainImage {
    height:35vmax;
    width: 50vmax;
    display: flex;
    justify-content: center;
    align-content: center;
}

.about {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: black;
    border:black 1px solid;
    height:100%;
    width:100%;
}
.aboutInfo{
    display:flex;
    flex-direction: column;
    height:30vmax;
    width: 60%;
    border:1px solid black;
    background-color: white;
    align-self: center;
}

.projects {
    background-color: purple;
    border:greenyellow 1px solid;
    height:100vmax
}
.contactMe{
    display:flex;
    position: sticky;
    background-color: black;
    color: rgb(255, 215, 0);;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 50vmax;
}
